/*
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 67.25%;
} */

.heading-1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 4rem;
  font-weight: 300;
}

.heading-2 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 4.5rem;
  font-weight: 200;
}

.heading-3 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 4rem;
  font-weight: 200;
  color: white;
}

.heading-4 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 3rem;
  font-weight: 200;
  color: black;
}

.heading-5 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  color: black;
}

.para-copy {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75rem;
}

.top {
  height: 40rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  height: 6rem;
  margin: 3rem 0 0 3.5rem;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 88%;
  background: #F94D4E;
}

.header-h1 {
  text-align: right;
  align-self: center;
  width: 70%;
  color: #fff;
  margin-right: 3rem;
}

.about {
  margin-top: 15rem;
  padding: 6rem;
  position: relative;
}

.about-heading {
  font-size: 7rem;
  margin: 8rem 0 2rem 7rem;
  position: absolute;
  top: -11%;
  z-index: 5;
  border-left: 8px solid #F94D4E;
  padding-left: 1rem;
}

.about-content {
  width: 70vw;
  background: #F3F3F3;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8rem 20rem 8rem 2rem;
  margin-bottom: 15rem;
  position: relative;
}

.about-content p {
  font-weight: 200;
  font-size: 1.8rem;
  line-height: 3rem;
  padding: 0 4rem;
}

.about-img-2 {
  position: absolute;
  right: -10rem;
  top: -5rem;
  height: 30rem;
  padding: 1rem;
  border: 1.4rem solid #626262;
}

.work {
  display: grid;
  grid-template-columns: 1fr 3fr;

}

.sidebar {
  position: relative;
}

.sidebar h2 {
  border-left: 8px solid #F94D4E;
  padding-left: 1rem;
  font-size: 8rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  transform: rotate(90deg);
  position: absolute;
  top: 10rem;
  left: -8rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.article {
  background: rgb(75, 75, 75);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;

}

.article-img {
  width: 38rem;
  height: 25rem;
}

.article-content {
  padding: 8rem;
}

.article a {
  color: white;
  font-weight: 200;
  font-size: 1.5rem;
  transition: .3s;
}

.footer {
  background: #303030;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  margin-top: 2.5rem;
  color: #dedede;
}

.footer-logo img {
  height: 10rem;
  margin: 3rem 0 0 3.5rem;
  filter: invert(1) saturate(1) hue-rotate(360deg);
}

.contact {
  margin-right: 8rem;
  display: flex;
  align-items: flex-start;

}

.contact-heading {
  color: #dedede;
  border-left: 8px solid #F94D4E;
  padding-left: 1rem;
}

.contact-text {
  font-size: 1.6rem;
}

.contact-link {
  color: #dedede;
  text-decoration: none;
  font-size: 1.6rem;
  transition: .3s;
}

.contact-link:hover {
  color: #2da56d;
  text-decoration: underline;
}

.social-links p {
  margin: 2rem 3rem;
  font-size: 1.8rem;
}

.social-links p:first-of-type {
  margin-top: 1.5rem;
}

.p {
  width: 70%;
}

@media (min-width: 350px) {
  html {
    font-size: 4px;
  }
}

@media (min-width: 500px) {
  html {
    font-size: 6px;
  }
}

@media (min-width: 900px) {
  html {
    font-size: 7px;
  }
}

@media (min-width: 1100px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 11px;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 1900px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 2200px) {
  html {
    font-size: 15px;
  }
}
